<div class="container">
  <div class="row">
    <form [formGroup]="consulta" (ngSubmit)="buscar()">
      <div class="form-group col">
        <label for="">Palabra Clave</label>
        <input class="form-control" type="text" formControlName="key" [(ngModel)]="query" />
      </div>
      <div class="form-group col">
        <button class="btn btn-group btn-primary" type="submit">Enviar</button>
      </div>
     
    </form>
  </div>
  <div class="row">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Genero</th>
          <th>Editorial</th>
          <th>Numero Páginas</th>
          <th>Autor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of this.resultado">
          <td>{{ r.titulo }}</td>
          <td>{{ r.genero }}</td>
          <td>{{ r.editorial }}</td>
          <td>{{ r.numPaginas }}</td>
          <td>{{ r.autor.nombreCompleto }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
